/* set display to flex and flex in a row. Added background color,
padding, and font-family. */
footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(5, 5, 57);
    padding:1rem 1rem;
    font-family: 'Dosis', sans-serif;
    justify-content: center;

}
/* Give breathing room by giving a margin-right, but clearing the margin on the last-child.
Set diplay to flex in a column. */
section a {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    margin-right: 100px;
    text-decoration: none;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 4px;
}
section a :last-child {
    margin-right: none;
}
/* Make it white, give it a bottom border.
Give bottom-border some padding and margin to make it look like its floating.  
Set a smaller font-size.  Explore letter-spacing property. */
section h2 {
    display: flex;
    color: white;
    margin-right: 100px;
    border-bottom: 2px white solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 25px; 
    letter-spacing: 4px; 
}
/* style a tags */
section a {
    text: white, bold;
    margin-bottom: 5px;
    font-size: 15px;
}
section a:hover {
    text-decoration: underline white;
    border-bottom: 1px, solid white;
    margin-bottom: 4px;
    
}
